html {
    scroll-behavior: smooth;
}

.header {
    position: fixed;
    top:0;
    left:0;
    height:50px;
    width:100%;
    padding:0;
    background: rgb(54,57,63);
    z-index: 2;
}

#homepageheader {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s linear;
}

body {
    background-color: rgb(192, 192, 192);
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h2 {
    font-size: 45px;
}

/* Pop up window */
.popup {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    position: relative;
    background-color: rgb(207, 207, 207);
    margin: 5% auto;
    width: 500px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.popup-header {
    background-color: rgb(54,57,63);
    color: #ffffff;
}

.popup-header h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
}

.popup-body {
    font-family: Geneva, Verdana, sans-serif;
    margin-left: 15px;
    margin-right: 25px;
    padding-bottom: 20px;
}

#loginPopup .popup-body {
    text-align: center;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.warningbox {
    width: 96.5%;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: goldenrod;
    background-color: gold;
    margin-bottom: 15px;
    text-align: left;
    padding: 10px;
    font-size: 16px;
}

#refillnotify, #needsrefillnotify {
    margin-top: 15px;
    display: none;
}

.loginFields {
    width: 100%;
    height: 29px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 5px;
    font-size: 12px;
    margin-bottom: 10px;
}

#sameAvalonUsername {
    margin-top: -7px;
    text-align: left;
    margin-left: 3px;
    margin-bottom: 7px;
    font-size: 12px;
    width: fit-content;
}

.redeemVoucherNavBtn {
    margin-top: 5px;
    text-align: left;
    margin-left: 3px;
    margin-bottom: -5px;
    font-size: 12px;
    width: fit-content;
}

#signuppay h6, #signuppay h4, #refillPopup h6, #refillPopup h4 {
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
}

#HiveKeychainBtn, #HiveSignerBtn, #SteemKeychainBtn, #SteemLoginBtn {
    display: none;
    margin-block-end: 0.5em;
}

#uploadForm, #thumbnailSwapper, #wcinfo, #refillnotify, #refiller, #needsrefillnotify {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

#uploadForm, #thumbnailSwapper, #wcinfo, #refiller { padding-bottom: 20px; }
#uploadForm { margin-top: 50px; }
#thumbnailSwapper, #wcinfo, #refiller, #content404 { margin-top: 70px; }

#tab {
    text-align: center;
    padding-top: 15px;
}

.tabs {
    font-size: 25px; 
    padding: 6px 6%;
    align-content: center
}

.tabs:hover {
    border-bottom: 2px solid #000000;
    cursor: pointer;
}

#tabBasics {
    background-color: #2196F3;
}

#advanced, .subtitles {
    display: none;
}

#postBody {
    height: 200px;
}

#tagInfo1 {
    margin-block-start: -1em;
}

.roundedBtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-size:16px;
	font-weight:bold;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 101%;
    margin-left: auto;
    margin-right: auto;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    text-align: center;
}
.roundedBtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}

.roundedBtn:active {
	position:relative;
	top:1px;
}

.dropdownArrow {
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg) translate(0px,-5px);
    -webkit-transform: rotate(45deg) translate(0px,-5px);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    z-index: 1;
    right: 0px;
    transform: translate(0px,-17px);
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-family: Geneva, Verdana, sans-serif;
    display: block;
  }

  .dropdown-content a:hover {background-color: #ddd}

.curvedbox {
    width: 97.5%;
    border: solid;
    border-width: 2px;
    border-radius: 15px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#avalonZone {
    display: none;
}

#avalonvwlabel {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.slidecontainer {
    width: 100%;
}

.rangeslider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #979797;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-block-end: 1.5em;
}
  
.rangeslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #2196F3;
    cursor: pointer;
}
  
.rangeslider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #2196F3;
    cursor: pointer;
}

#avalonhighvwalert {
    display: none;
}

#progressBarBack {
    width: 100%;
    background-color: #979797;
    border-radius: 5px;
    display: none;
}

#progressBarFront {
    width: 0%;
    height: 30px;
    background-color: #2196F3;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    white-space: nowrap;
}

.uploadcontent {
    font-family: Geneva, Verdana, sans-serif;
}

.meta {
    width: 100%;
    height: 29px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 5px;
    font-size: 12px;
}

textarea {
    width: 100%;
    height: 100px;
    resize: vertical;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 12px;
}

#newLanguageField {
    width: 35%;
}

#chooseSubBtn {
    padding: 6px 20px;
    font-size: 15px;
    text-align: center;
    width: 25%;
    margin-top: 1px;
}

#uploadSubBtn {
    padding: 6px 15px;
    font-size: 15px;
    text-align: center;
    width: 22%;
    margin-top: 1px;
}

/* Render uploaded subtitles list in a table */
.subList tr td {
    font-size: 15px;
}

.subListLang {
    width: 400px;
    text-align: left;
}

.subListPrev {
    width: 200px;
    padding-right: 5px;
}

.subListDel {
    width: 100px;
}

#logoBanner {
    height: 35px;
    vertical-align: middle;
}

#siteTitle {
    color: #ffffff;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    margin-top: 5px;
    padding-left: 10px;
}

#headTitleText {
    display: inline-block;
    font-size: 28px;
    margin-left: 5px;
}

.title:visited {
    color: #ffffff;
}

#authButton, #modeBtn {
    position: absolute;
    top: 0px;
    right: 0px;
}

/* Beneficiaries */
#newBeneficiaryUser {
    width: 253px;
}

#newBeneficiaryPercent {
    width: 57px;
}

#appendBeneficiaryBtn {
    font-size: 15px;
    font-weight: bold;
    width: 30px;
    height: 26px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5.5px;
    padding-bottom: 0px;
    margin: 0px;
    text-align: center;
}

#beneficiaryTableList {
    width: 100%;
}

#beneficiaryTableList tr td {
    font-size: 15px;
}

.beneficiaryAccLabel {
    text-align: left;
    width: 100%;
}

.beneficiaryDelBtn {
    width: 90px;
}

#totalBeneficiariesLabel {
    font-size: 15px;
    margin-block-start: 0.25em;
    font-weight: normal;
}

/* Thumbnail swapper tool */
#thumbnailSwapper {
    display: none;
}

#thumbnailSwapNoAvalon {
    margin-block-start: 1em;
    display: none;
}

#linkSubmitBtn {
    margin-top: 10px;
}

#linkResult {
    width: 100%;
}

#currentSnap {
    width: 220px;
}

#videoInfo {
    width: 470px;
    font-size: 15px;
    text-align: left;
    padding-left: 5px;
}

.snapImgPreview {
    width: 220px;
}

#newSnapField {
    display: none;
}

#swapSubmitBtn {
    display: none;
}

#wcinfo, #refiller {
    display: none;
}

#wcinfo h2 {
    font-size: 30px;
    text-align: center;
}

#refiller h2 {
    font-size: 25px;
}

/* Welcome page only */
#head {
    background-color: rgb(54,57,63);
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    display: table;
}

#head .textcontainer {
    vertical-align: middle;
    display: table-cell;
    transform: translate(0,20px);
}

#head h1 {
    font-size: 75px;
    margin-left: 50px;
    margin-right: 50px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

#head h3 {
    font-size: 30px;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: normal;
    font-family: Geneva, Tahoma, sans-serif;
}

#head .styledButton {
    border-color: #ffffff;
    color: #ffffff;
}

#head .styledButton:hover {
    color: rgb(54,57,63);
    background-color: #ffffff;
}

#head #authButton2 {
    position: absolute;
    top: 20px;
    right: 40px;
    border: 2px solid #ffffff;
    border-radius: 32px;
    width: 100px;
    height: 32px;
    padding: 4px 10px;
    text-align: center;
    transition-duration: 0.2s;
    z-index: 2;
}

#head #authButton2:hover {
    background-color: #ffffff;
    color: rgb(54,57,63);
}

#head #authButton2 p {
    margin-block-start: 5px;
    margin-block-end: 5px;
}

#head .scrollarrow {
    position: relative;
    margin: auto;
    width: 25px;
}

#head .scrollarrow span {
    display: block;
    opacity: 0;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    transform: rotate(45deg);
    animation: arrowAnimation 2.1s infinite;
}

#head .scrollarrow span:nth-child(1) { animation-delay: 0.7s; }
#head .scrollarrow span:nth-child(2) { animation-delay: 1.4s; }

@keyframes arrowAnimation {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

/*
.updatelog {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    padding: 20px;
    width: 80vw;
    background-color: rgb(23, 31, 201);
    color: #ffffff;
    border-radius: 10px;
}

.updatelog a { 
    color: #ffffff;
    font-size: 25px;
}
.updatelog a:visited { color: #ffffff; }
.updatelog a:hover { color: #ffffff; }
.updatelog a:active { color: #ffffff; }
*/

/* Signup/Login buttons */
.headerBtn {
    color: #ffffff;
    border-left: 2px solid #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    height: 100%;
    padding: 0px 25px;
    transition-duration: 0.2s;
}

.headerBtn:hover {
    color: rgb(54,57,63);
    background-color: #ffffff;
}

.headerBtn p {
    margin-block-start: 10px;
    margin-block-end: 10px;
}

.styledButton {
    color: black;
    background-color: transparent;
    border: 2px solid #555555;
	display:inline-block;
	cursor:pointer;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size:20px;
	padding:15px 40px;
    margin: 5px;
    transition-duration: 0.2s;
}
.styledButton:hover {
    color: #ffffff;
	background-color:#555555;
}
.styledButton:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
#buttons {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    width: 60vw;
}

/* Homepage content */
#statsContainer {
    display: grid;
    text-align: center;
    font-family: Geneva, Verdana, sans-serif;
    font-size: 25px;
    padding: 40px;
    margin-bottom: 30px;
    background-color: #2196F3;
    color: #ffffff;
    grid-template-columns: repeat(3, 1fr);
}

#statsContainer .grid-item img { height: 80px; }
#statsContainer .grid-item p { margin: 0; }
#statsContainer .grid-item h1 { margin-block-end: 0; margin-block-start: 15px;}

.feature-heading {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 40px 0px 15px;
}

.featureContainer {
    display: grid;
    text-align: left;
    font-family: Geneva, Verdana, sans-serif;
    max-width: 1024px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 40px;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 40px;
}

.featureContainer h3 {
    font-size: 23px;
    font-weight: bold;
    margin: 0;
}

.thumbnailSwapFeatureContainer {
    grid-template-columns: 40% 60%;
}

.feature-preview-img {
    width: 100%;
}

td {
    text-align: center;
    font-family: Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.icons {
    margin-top: 30px;
}

/* 404 page */
.notfoundmessage {
    font-family: Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
}

/* Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #979797;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.poweruptext {
    display: inline;
    position: absolute;
    transform: translate(10px, -70%);
}

/* MOBILE */
@media screen and (max-width: 768px) {
    #head h1 {
        font-size: 35px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #head h3 {
        font-size: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #statsContainer {
        font-size: 25px;
    }

    #videohighlight {
        width: 100%;
        height: 48.25vw;
    }

    td {
        font-size: 15px;
    }

    #uploadForm, #thumbnailSwapper, #wcinfo, #refillnotify, #refiller, #needsrefillnotify {
        margin-left: 15px;
        margin-right: 25px;
        width: auto;
    }

    #newLanguageField {
        width: 100%;
    }

    #chooseSubBtn {
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
        width: 89.5%;
    }

    #uploadSubBtn {
        margin-left: auto;
        margin-right: auto;
        width: 93%;
    }

    .subListPrev a {
        font-size: 11px;
    }

    .subListDel a {
        font-size: 11px;
    }

    .tabs {
        padding: 6px 5%;
        font-size: 17px;
    }

    #newBeneficiaryUser {
        width: calc(100% - 150px);
    }

    .popup-content {
        width: 85%;
    }

    h2 {
        font-size: 28px;
    }

    #linkResult {
        width: 100%;
    }

    #linkResult table tr td {
        display: table-row;
        width: 100%;
        word-break: break-all;
    }

    /* Display td on top of each other on mobile */
    .testtd {
        display: table-row;
    }
}

@media screen and (max-width: 360px) {
    .tabs {
        padding: 6px 3%;
    }

    .popup-content {
        width: 100%;
    }

    #modeBtn {
        padding-left: 20px;
        padding-right: 20px;
    }

    #headTitleText {
        display: none;
    }
}

* {
    -webkit-overflow-scrolling: touch;
}