#header {
    position: absolute;
    top:0;
    left:0;
    height:80px;
    width:100%;
    padding:0;
    background: rgb(54,57,63);
}

#content {
    position: absolute;
    top:80px;
    bottom:70px;
    left:0;
    width:100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#footer {
    position: absolute;
    bottom:0;
    left:0;
    height: 70px;
    width:100%;
    padding:0;
    background: aqua;
    text-align: center;
}

body {
    background-color: rgb(192, 192, 192);
}

a {
    text-decoration: none;
}

#uploadForm {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

#tab {
    text-align: center;
    padding-top: 15px;
}

.tabs {
    font-size: 25px; 
    padding: 6px 10%;
    align-content: center
}

.tabs:hover {
    border-bottom: 2px solid #000000;
    cursor: pointer;
}

#tabBasics {
    background-color: #2196F3;
}

#advanced {
    display: none;
}

#postBody {
    height: 200px;
}

#progressBarBack {
    width: 100%;
    background-color: gray;
    border-radius: 5px;
    display: none;
}

#progressBarFront {
    width: 0%;
    height: 30px;
    background-color: #2196F3;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    white-space: nowrap;
}

.uploadcontent {
    font-family: Geneva, Verdana, sans-serif;
}

.meta {
    width: 100%;
    height: 29px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 5px;
    font-size: 12px;
}

textarea {
    width: 100%;
    height: 100px;
    resize: vertical;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 12px;
}

#logoBanner {
    height: 70px;
    width: 70px;
    vertical-align: middle;
}

#siteTitle {
    color: lavender;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 5px;
    padding-left: 10px;
}

#headTitleText {
    display: inline-block;
}

#authButton {
    position: absolute;
    top: 0.5vw;
    right: 0.5vw;
}

.madeBy {
    font-family: "Comic Sans MS", Verdana, sans-serif;
}

/* Welcome page only */
#head {
    text-align: center;
    color: rgb(50, 50, 50);
    height: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#head h1 {
    font-size: 75px;
    margin-left: 50px;
    margin-right: 50px;
}

#head h3 {
    font-size: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

/* Signup/Login buttons */
.styledButton {
	background-color:#ffffff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Verdana;
	font-size:20px;
	padding:15px 40px;
    text-decoration:none;
    margin: 5px;
}
.styledButton:hover {
	background-color:#f6f6f6;
}
.styledButton:active {
	position:relative;
	top:1px;
}
#buttons {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    width: 60vw;
}

#intro1 {
    background: blueviolet;
    text-align: left;
    font-family: Geneva, Verdana, sans-serif;
    font-size: 50px;
    align-content: center;
    padding-left: 6vw;
    padding-right: 6vw;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(230, 250, 255);
}

#table1 {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 85vw;
}

td {
    text-align: center;
    font-family: Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.icons {
    margin-top: 30px;
}

/* 404 page */
.notfoundmessage {
    font-family: Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
}

/* Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.poweruptext {
    display: inline;
    position: absolute;
    transform: translate(10px, -70%);
}

/* MOBILE */
@media screen and (max-width: 768px) {
    #headTitleText {
        display: none;
    }

    #head h1 {
        font-size: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #head h3 {
        font-size: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #intro1 {
        font-size: 30px;
    }

    td {
        font-size: 15px;
    }

    #uploadForm {
        margin-left: 15px;
        margin-right: 25px;
        width: auto;
    }
}

* {
    -webkit-overflow-scrolling: touch;
}